$base-width: 1170px;

$base-background-color: #efefef;
$light-background-color: #fdfdfb;
$secondary-background-color: #f7f5ef;
$dark-background-color: #444240;

$base-accent-color: #e6c8b4;
$border-color: rgba(226, 208, 196, 1);

$prime-stroke-color: #8b8371;
$secondary-stroke-color: #c4c0b6;

$light-button-color: #d4b098;

$base-font-color: #1b1a17;
$light-font-color: #fff;
$dark-font-color: #1b1a17;
$accent-font-color: $base-accent-color;
$second-font-color: #c4c4c4;
$additional-font-color: #828282;
$primary-font-family: "Roboto", "Open Sans", sans-serif;
$title-font-family: "Playfair Display", "Georgia", serif;
$numeric-font-family: "Prata", "Georgia", serif;
